/* shared styles */

/* top section styles */
.fira-sans-regular {
  font-family: 'Fira Sans', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #0e0e0e;
}
.sign-in-btn {
  position: static;
  width: 85px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
  color: rgb(0, 106, 80);
  border: 1px solid rgb(0, 106, 80);
}
.centre-btn {
  text-align: center;
}
.upper-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px 20px 150px;
}
/* Banner styles */
.second-btn {
  color: rgb(50, 112, 96);
  font-size: 20px;
}
.banner-description {
  font-size: 48px;
  margin-top: 10px;
}
.explore-button {
  position: static;
  width: 190px;
  height: 34px;
  justify-content: center;
  align-items: center;
  padding: 3px 2px;
  background-color: #006a50;
  border-radius: 5px;
  color: white;
}
.banner {
  display: flex;
  flex-direction: row;
  width: 1100px;
  height: 400px;
  justify-content: center;
  align-items: center;
  gap: 95px;
  padding: 50px 70px 50px 70px;
  background: rgb(198, 228, 214);
  border-radius: 18px;
  margin-left: 100px;
  margin-right: 100px;
}
/* main styles */
main {
  max-width: 1140px;
  margin: auto;
}
/* Pillar section styles */
.skills-container {
  display: flex;
  gap: 30px;
  margin-left: 0px;
  margin-right: 80px;
}
.skill {
  padding: 30px 33px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 5px;
  background: rgb(255, 255, 255);
}
.skill-description {
  color: rgba(14, 14, 14, 0.7);
  font-weight: normal;
  font-size: 20px;
}
/* vision-section-styles */
.vision-container {
  display: flex;
  gap: 25px;
  margin-right: 80px;
}
.item {
  box-sizing: border-box;
  border-radius: 16px;
  padding: 30px;
}
.Digital {
  background: rgba(84, 144, 245, 0.2);
}
.Green {
  background-color: #c6e4d6;
}
.Modern {
  background-color: #f7ebcf;
}
.digital-btn {
  font-weight: 600;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  background: rgb(84, 144, 245);
  width: 122px;
  height: 41px;
}
.green-btn {
  font-weight: 600;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  background: rgb(9, 161, 92);
  width: 122px;
  height: 41px;
}
.modern-btn {
  font-weight: 600;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  background-color: #ffc239;
  width: 122px;
  height: 41px;
}
.item-tittle {
  font-size: 25px;
}
/* Recent-News-section-styles */
.satelite {
  width: 408px;
  height: 306px;
  border-radius: 24px;
  margin: 30px;
}
.recent-news {
  display: flex;
  gap: 32px;
  margin-bottom: 40px;
  padding: 48px;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 5px;
  background: rgb(255, 255, 255);
}
.recent-news2 {
  display: flex;
  gap: 32px;
  margin-bottom: 40px;
  padding: 48px;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 5px;
  background: rgb(255, 255, 255);
}
/* donate-section-style */
.taka {
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(255, 255, 255);
  font-size: 24px;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
}
.money {
  display: flex;
  justify-content: space-evenly;
  gap: 0px;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.color-money {
  background-color: #c6e4d6;
}
.text-area {
  display: block;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(255, 255, 255);
  padding: 10px 20px;
}
.done-btn {
  justify-content: center;
  align-items: center;
  margin-left: 45%;
  margin-top: 20px;
}
/* footer section styles */
footer input[type='email'] {
  width: 600px;
  height: 24px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

footer form {
  display: flex;
  align-items: center;
  margin-left: 200px;
}
.terminate {
  margin-top: 10px;
  background-color: #c6e4d6;
  padding: 70px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
